@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>The best movies on the planet!</h3>
    <p>Click on Send Email above to let us know you are enjoying the app!</p>
</div>

<div class="row"> 
  <div class="column">
    <img src="/image/joker-poster.jpg" height="300" style="padding:20px">
    <img src="/image/aquaman.jpg" height="300" style="padding:20px">
    <img src="/image/avengers-poster.jpg" height="300" style="padding:20px">
    <img src="/image/back to the future.jpg" height="300" style="padding:20px">
    <img src="/image/batman.jpg" height="300" style="padding:20px">
  </div>
  <div class="column">
    <img src="/image/pulp-fiction-poster.jpg" height="300" style="padding:20px">
    <img src="/image/coco.jpg" height="300" style="padding:20px">
    <img src="/image/fastandfurious.jpg" height="300" style="padding:20px">
    <img src="/image/ford-vs-ferrari-poster.jpg" height="300" style="padding:20px">
    <img src="/image/frozen-poster.jpg" height="300" style="padding:20px">
  </div>  
  <div class="column">
    <img src="/image/gladiator.jpg" height="300" style="padding:20px">
    <img src="/image/grease.jpg" height="300" style="padding:20px">
    <img src="/image/halloween.jpg" height="300" style="padding:20px">
    <img src="/image/inception.jpg" height="300" style="padding:20px">
    <img src="/image/jurassic park.jpg" height="300" style="padding:20px">
  </div>
  <div class="column">
    <img src="/image/jaws.jpg" height="300" style="padding:20px">
    <img src="/image/lion king.jpg" height="300" style="padding:20px">
    <img src="/image/matrix.jpg" height="300" style="padding:20px">
    <img src="/image/mulan.jpg" height="300" style="padding:20px">
    <img src="/image/jumanji.jpg" height="300" style="padding:20px">
  </div>
</div>
