<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9b3ca65d-4596-4fbb-8edb-f4f119d559ae/resourceGroups/CSD412/providers/Microsoft.Web/sites/usermovieApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://usermovieapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>usermovieapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>usermovieApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$usermovieApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>